@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primeFont: "Montserrat", sans-serif;
  --secFont: "Inter", sans-serif;
  --clrBlack: hsl(0, 3%, 14%);
  --clrOtherGrey: #2a2727;
  --clrWhite: #fdf7fa;
  --clrGreen: #1bbc6f; /*rgb(29, 172, 83);*/
  --clrGrey: #d5d8de;
  --clrDarkGrey: #302c2c;
  --fontH1: 5.61rem;
  --fontH2: 4.209rem;
  --fontH3: 3.157rem;
  --fontH4: 2.369rem;
  --fontH5: 1.777rem;
  --fontH6: 1.333rem;
  --bodyP: 1rem;
  --bodyPSmall: 0.75rem;
  --eazing: cubic-bezier(0.86, -0.06, 0.82, 0.9);
}

*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--primeFont);
}

body {
  background-color: var(--clrBlack);
  word-spacing: 0.005rem;
  overflow-x: hidden;
  font-family: var(--primeFont);
}

* {
  margin: 0;
  padding: 0;
}

/*    ------------ UTILITY CLASSES ------------    */

.pointer {
  cursor: pointer;
}

.section_h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-weight: 600;
}

.section_description {
  line-height: 1.7rem;
  font-family: var(--secFont);
}

.prime_button {
  font-size: 1.1rem;
  font-family: var(--primeFont);
  font-weight: 500;
  color: var(--clrWhite);
  background-color: var(--clrGreen);
  border: 1px solid var(--clrGreen);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.prime_button:hover {
  border: 1px solid white;
}

/*    ------------ UTILITY CLASSES ------------    */

/* NAV / Header*/

.head {
  position: sticky;
  top: 0;
  min-height: 8vh;
  z-index: 50;
  width: 100%;
  color: var(--clrWhite);
  font-size: var(--bodyP);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(245, 242, 242, 0.3);
  background: linear-gradient(to right, var(--clrOtherGrey), var(--clrBlack));
}

nav {
  width: 100%;
  height: 60%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logo {
  fill: var(--clrWhite);
  width: 10rem;
}

ul {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: transparent;
}

.nav_link,
nav a {
  font-weight: 500;
  text-decoration: none;
  color: var(--clrWhite);
}

ul a:hover,
nav a:hover {
  color: var(--clrWhite);
  cursor: pointer;
}

.hamburger {
  border-radius: 0.25rem;
  display: none;
  border: 1px solid var(--clrGrey);
  background-color: rgba(48, 44, 44, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s var(--eazing);
}

.hamburger:hover {
  fill: var(--clrGreen);
  border: 1px solid var(--clrGreen);
}

.link_ham_cont .ham_link {
  color: var(--clrWhite);
  text-decoration: none;
  font-weight: 500;
}

.hamb_menu .hamb_cont .link_ham_cont:first-of-type .ham_link {
  color: var(--clrGreen);
}
.ham_link:hover {
  cursor: pointer;
}

.close_ham {
  width: 2.25rem;
  height: 2.25rem;
  z-index: 500;
}

.close_ham:hover {
  fill: var(--clrGreen);
}

.hamb_menu {
  position: fixed;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--clrBlack);
  color: var(--clrWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamb_cont {
  font-size: var(--fontH4);
  width: 90%;
  height: 90%;
}
body.no-scroll {
  overflow: hidden;
}

.link_ham_cont {
  position: relative;
  border-bottom: 1px solid var(--clrGrey);
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}

.link_ham_cont::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: 0.5s var(--eazing);
  background-color: var(--clrGreen);
  z-index: -1;
}

.link_ham_cont:hover::after {
  left: 0%;
}

.link_ham_cont:first-of-type:hover::after {
  left: -100%;
}

li {
  padding: 0.25rem 1rem;
  position: relative;
  box-sizing: border-box;
}

.first_link::after,
li:not(:first-child)::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
}

.first_link::after {
  width: 2px;
  background-color: var(--clrGreen) !important;
  transition: width 0.3s ease-in-out;
}

.first_link:hover::after {
  width: 100%;
}

li:not(:first-child)::after {
  width: 1px;
  background-color: var(--clrWhite);
  transition:
    width 0.3s ease-in-out,
    background-color 0s ease;
}

li:not(:first-child):hover::after {
  width: 100%;
  background-color: var(--clrGreen);
  transition:
    width 0.3s ease-in-out,
    background-color 0s ease;
}

li:not(:first-child):not(:hover)::after {
  width: 1px;
  background-color: var(--clrWhite);
  transition:
    width 0.3s ease-in-out,
    background-color 0.3s ease 0.3s;
}

li:hover::after {
  background-color: var(--clrGreen);
}

li::after {
  display: block;
  box-sizing: border-box;
}

li:not(:hover)::after {
  background-color: var(--clrWhite);
}

.nav_contact_link {
  text-transform: uppercase;
  border: 1px solid var(--clrWhite);
  width: 8rem;
  height: 2rem;
  color: var(--clrWhite);
  background-color: rgba(48, 44, 44, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.nav_contact_link::before {
  content: "KONTAKT";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  transition: 0.3s ease-in-out;
}

.nav_contact_link::after {
  content: "KONTAKT";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clrGreen);
  color: white;
  transition: 0.3s ease-in-out;
}

.nav_contact_link:hover::after {
  left: 0;
}
.nav_contact_link:hover::before {
  left: 100%;
}

@media (max-width: 1024px) {
  ul {
    display: none;
  }

  .nav_contact_link {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .logo {
    width: 8rem;
  }
}

@media (max-width: 780px) {
  html {
    overflow-x: hidden;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 500px) {
}

/* HERO SECTION */

.hero_section {
  position: relative;
  color: var(--clrWhite);
  overflow: hidden;
  background-image: url("/images/piet with clients.jpg");
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
  padding: 6rem 0rem;
}

.hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(42, 39, 39);
  background: linear-gradient(
    90deg,
    rgba(42, 39, 39, 1) 0%,
    rgba(42, 39, 39, 0.6) 45%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}

.hero_inhalt {
  position: relative;
  z-index: 10;
}

.hero_headings {
  color: var(--clrWhite);
  font-size: 2.5rem;
}

.hero_headings h1 {
  font-style: italic;
  letter-spacing: -0.04em;
  margin-bottom: -0.5rem;
}

.focus {
  color: var(--clrGreen);
}

.hero_subtext {
  font-family: var(--secFont);
  line-height: 1.7rem;
  font-weight: 350;
  margin-top: 1.5rem;
  width: 57%;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.hero_btn {
  padding: 0.5rem 6rem;
  transition: none;
}

@media (max-width: 1280px) {
  .hero_headings {
    font-size: 2rem;
  }
  .hero_subtext {
    width: 70%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1024px) {
  .hero_overlay {
    background: rgb(42, 39, 39);
    background: linear-gradient(
      90deg,
      rgba(42, 39, 39, 1) 0%,
      rgba(42, 39, 39, 0.6) 60%,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

@media (max-width: 770px) {
  .hero_overlay {
    background: rgb(42, 39, 39);
    background: linear-gradient(
      90deg,
      rgba(42, 39, 39, 1) 0%,
      rgba(42, 39, 39, 0.6) 70%,
      rgba(0, 0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .hero_subtext {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .hero_subtext {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero_overlay {
    background: rgb(42, 39, 39);
    background: linear-gradient(
      90deg,
      rgba(42, 39, 39, 1) 0%,
      rgba(42, 39, 39, 0.6) 70%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

/* About ME */

/* Base grid container */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1.25fr;
  grid-template-rows: auto auto;
  gap: 3rem 5rem; /* Space between grid items */
  color: var(--clrBlack);
  margin: 0 auto;
}

.grid_h2 {
  font-size: var(--fontH5);
  text-transform: uppercase;
  color: var(--clrGreen);
  letter-spacing: -0.04em;
  font-weight: 650;
  opacity: 0;
  transform: translateY(50px);
  margin-bottom: 0.5rem;
}

.grid_h3 {
  font-size: var(--fontH3);
  letter-spacing: -0.04em;
  font-weight: 550;
  color: var(--clrBlack);
  opacity: 0;
  transform: translateY(50px);
}

.grid_h4 {
  font-size: var(--fontH6);
  color: var(--clrDarkGrey);
  letter-spacing: -0.01em;
  font-weight: 500;
  margin-top: -0.25rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(50px);
}

/* The first row will have two cells */
.item1 {
  grid-column: 1;
}

.item2 {
  grid-column: 2;
}

/* The second row spans both columns, and contains a nested grid */
.item3 {
  grid-column: 1 / -1; /* Spans both columns */
  grid-row: 2;
}

/* Nested grid inside the third item */
.nested-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nested-item {
  height: 5rem;
}

.about_me {
  color: var(--clrBlack);

  background: linear-gradient(
    270deg,
    rgba(253, 247, 250, 1) 0%,
    rgba(252, 248, 250, 1) 100%
  );

  padding: 4rem 0rem 6rem 0rem;
}

.abt_description {
  font-size: 1rem;
  color: var(--clrBlack);
  line-height: 1.8rem;
  font-family: var(--secFont);
}

.abt_description:nth-of-type(2) {
  margin-top: 1rem;
}

.socials {
  margin-top: 2rem;
  height: 2rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  color: var(--clrGreen);
}

.socials svg {
  width: 2rem;
  transition: 0.2s ease;
}

.socials svg:hover {
  fill: var(--clrBlack);
}

.certificates {
  display: flex;
  width: 100%;
  height: 6rem;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--clrWhite);
  position: relative;
  overflow: hidden;

  line-height: 1.5rem;
}

.thecard h5 {
  font-weight: 500;
  text-transform: uppercase;
}

.thecard {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  color: var(--clrWhite);
  background-color: var(--clrDarkGrey);
}

.thecard:hover {
  transform: rotateX(180deg);
}

.front_card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--clrDarkGrey);
  color: var(--clrWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back-card {
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-card_logo {
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.back-card_logo svg {
  height: 2rem;
  width: 2rem;
  fill: var(--clrGreen);
}

.cert_logo_img {
  height: 4rem;
  width: 4rem;
  object-fit: fill;
}

.side-left,
.side-right,
.side-top,
.side-bottom {
  position: absolute;
  background-color: rgb(58, 52, 52);
}

.side-left,
.side-right {
  width: 1rem; /* Adjust depth here */
  height: 100%;
}

.side-top,
.side-bottom {
  width: 100%;
  height: 1rem; /* Adjust depth here */
}

/* Position and transform the side faces */
.side-left {
  left: -0.5rem; /* Half the depth */
  top: 0;
  transform: rotateY(90deg);
}

.side-right {
  right: -0.5rem; /* Half the depth */
  top: 0;
  transform: rotateY(90deg);
}

.side-top {
  top: -0.5rem; /* Half the depth */
  left: 0;
  transform: rotateX(90deg);
}

.side-bottom {
  bottom: -0.5rem; /* Half the depth */
  left: 0;
  transform: rotateX(90deg);
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about_img_cont {
  aspect-ratio: 1 / 1.1;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.25rem var(--clrDarkGrey);
  border-radius: 0.25rem;
}

.abt_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .about_img_cont {
    aspect-ratio: 1 / 1.25;
  }
  .grid-container {
    gap: 3rem 2rem;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    /* 1 item per row */
    grid-template-columns: 2fr 1.5fr;
    gap: 3rem 2rem;
  }

  .about_img_cont {
    aspect-ratio: 1 / 1.8;
  }

  .nested-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media (max-width: 780px) {
  .grid-container {
    grid-template-columns: repeat(1fr);
  }

  .nested-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 0.5rem;
  }

  .item1 {
    grid-column: 1 / -1;
  }

  .item2 {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .about_img_cont {
    aspect-ratio: 2 / 1.5;
  }

  .item3 {
    grid-column: 1 / -1; /* Spans both columns */
    grid-row: 3;
  }
}
@media (max-width: 640px) {
  .grid-container {
    grid-template-rows: auto auto auto;
  }
  .item1 {
    grid-column: 1 / -1;
  }

  .item2 {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /* The second row spans both columns, and contains a nested grid */
  .item3 {
    grid-column: 1 / -1; /* Spans both columns */
    grid-row: 3;
  }

  .abt_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.15;
  }
}

@media (max-width: 500px) {
  .nested-grid {
    grid-template-columns: 1fr; /* 1 item per row */
    gap: 0.5rem;
  }

  .abt_img {
    aspect-ratio: 1 / 1.55;
  }
}

/* SERVICES */

.services_section {
  background: rgb(37, 35, 35);
  background: -moz-radial-gradient(
    circle,
    rgba(37, 35, 35, 1) 0%,
    rgba(32, 33, 32, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(37, 35, 35, 1) 0%,
    rgba(32, 33, 32, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(37, 35, 35, 1) 0%,
    rgba(32, 33, 32, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252323",endColorstr="#202120",GradientType=1);
  color: var(--clrWhite);
  padding-top: 4rem;
  padding-bottom: 8rem;
  width: 100%;
}

.services_section p {
  line-height: 1.5rem;
}

.serv_cont_h2 {
  font-size: var(--fontH3);
  letter-spacing: -0.04em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clrGreen);
  margin-bottom: 0.5rem;
  opacity: 0;
  transform: translateY(25px);
}

.serv_descr_p {
  width: 70%;
  margin-bottom: 4rem;
  color: var(--clrGrey);
  line-height: 1.5rem;
  opacity: 0;
  transform: translateY(50px);
}

.serv_grid {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;
  min-height: 150vh;
  margin-bottom: 8rem;
  color: var(--clrWhite);
  grid-template-areas: "img descr";
}

.serv_grid:last-of-type {
  margin-bottom: 0rem;
}
.reverse {
  grid-template-areas: "descr img"; /* Reverse the order */
}

.serv_img_cont {
  flex: 1;
  height: 70vh;
  position: sticky;
  top: 15vh;
  grid-area: img;
}

.serv_image {
  width: 100%;
  height: calc(100% - 0.75rem);
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.div_loader {
  height: 0.25rem;
  width: 0%;
  background-color: var(--clrGreen);
  margin-top: 0px;
}

.serv_image:hover {
  scale: 1.01;
}

.serv_descr_cont {
  flex: 1;
  position: relative;
  color: var(--clrGrey);
  grid-area: descr;
}

.serv_descr_cont p {
  width: 96%;
}

.serv_descr_cont h2 {
  color: var(--clrWhite);
  font-size: var(--fontH4);
  margin-bottom: 1rem;
  font-weight: 600;
}

.serv_descr_cont span {
  color: var(--clrGreen);
}

.why {
  margin-bottom: 2rem;
}
.serv_descr_cont h6 {
  font-size: var(--fontH6);
  letter-spacing: -0.01em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  color: var(--clrWhite);
}

.serv_descr_cont button {
  cursor: pointer;
  position: absolute;
  color: var(--clrWhite);
  background-color: var(--clrGreen);
  border: none;
  height: 2.5rem;
  width: 55%;
  font-size: 1rem;
  font-weight: 600;
  bottom: 0px;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.serv_descr_cont button::before {
  content: "Jetzt anfragen";
  color: var(--clrWhite);
  background-color: var(--clrGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  background-image: url("/svgs/arrowWhite.svg");
  background-size: 1.5rem 2rem;
  background-repeat: no-repeat;
  background-position: right 2rem center;
  border: 1px solid var(--clrGreen);
}

.serv_descr_cont button::after {
  content: "Jetzt anfragen";
  color: var(--clrGreen);
  background-color: var(--clrWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  transition: 0.3s ease-in-out;
  background-image: url("/svgs/arrowGreen.svg");
  background-size: 1.5rem 2rem;
  background-repeat: no-repeat;
  background-position: left 2rem center;
  border: 1px solid var(--clrGreen);
}

.serv_descr_cont button:hover::after {
  left: 0%;
}

.serv_descr_cont button:hover::before {
  left: 100%;
}

.bulletpoints {
  margin-top: 3rem;
}

.bulletpoints h4 {
  font-size: var(--fontH6);
  letter-spacing: -0.01em;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--clrWhite);
}

.step_flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.step_title {
  font-weight: 600;
  color: var(--clrWhite);
}

.step_descr {
  margin-bottom: 1rem;
  margin-left: calc(1.25rem + 0.5rem);
}

@media (max-width: 1280px) {
  .serv_grid {
    gap: 3rem;
  }

  .serv_descr_p {
    width: 100%;
  }

  .serv_descr_cont p {
    width: 100%;
  }

  .step_descr {
    margin-bottom: 1rem;
    margin-left: calc(1.25rem + 0.5rem);
    max-width: calc(100% - 1.75rem);
  }
}

@media (max-width: 1024px) {
  .serv_grid {
    gap: 3rem;
  }
  .serv_descr_cont h2 {
    font-size: var(--fontH5);
    margin-bottom: -1rem;
  }

  .serv_descr_p {
    width: 100%;
  }
  .serv_descr_cont button {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 780px) {
  .serv_grid {
    grid-template-columns: 1fr; /* Switch to one column */
    grid-template-areas:
      "img"
      "descr"; /* Stack items vertically */
  }

  .serv_descr_p {
    width: 100%;
  }

  .serv_img_cont {
    position: static;
  }

  .div_loader {
    display: none;
  }

  .serv_descr_cont h2 {
    margin-bottom: -1rem;
  }

  .serv_descr_cont button {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 500px) {
  .serv_cont_h2 {
    font-size: 2.25rem;
  }
}

/* New Services ---------------------------------------------------------------------------- */

.section_newServices {
  min-height: 100vh;
  color: var(--clrWhite);
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.section_newServices h2 {
  color: var(--clrGreen);
  transform: translateY(50px);
  opacity: 0;
}

.serv_descr_gsap {
  transform: translateY(50px);
  opacity: 0;
}

.section_newServices p {
  color: var(--clrGrey);
  width: 70%;
  margin-bottom: 5rem;
  font-family: var(--secFont);
}

.newServ_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.newServ {
  background-color: var(--clrOtherGrey);
  border-radius: 0.25rem;
}

.newServ:hover .newServ_img_cont img {
  scale: 1.05;
}

.newServ_img_cont {
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.newServ_img_cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: scale 0.3s ease-in-out;
  filter: brightness(0.95);
}

.newServ h3 {
  margin: 1rem 1.5rem 0.5rem 1.5rem;
}

.newServ h3 span {
  color: var(--clrGreen);
}

.newServ p {
  margin: 0rem 1.5rem 3rem 1.5rem;
  width: calc(100% - 3rem);
  line-height: 1.7rem;
}

.ser_button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.newServ button:hover {
  border: 1px solid var(--clrWhite);
}

@media (max-width: 1280px) {
  .section_description {
    width: 100% !important;
  }

  .newServ h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .newServ_grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .newServ {
    width: 47%;
  }

  .newServ h3 {
    font-size: 1.56rem;
  }
}

@media (max-width: 780px) {
  .newServ h3 {
    font-size: 1.25rem;
    margin: 1rem 1rem 0.5rem 1rem;
  }

  .newServ h3 span {
    color: var(--clrGreen);
  }

  .newServ p {
    margin: 0rem 1rem 3rem 1rem;
    width: calc(100% - 2rem);
    line-height: 1.7rem;
  }

  .ser_button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
}

@media (max-width: 640px) {
  .newServ_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .newServ {
    width: 100%;
  }

  .newServ h3 {
    font-size: 2rem;
    margin: 1rem 1.5rem 0.5rem 1.5rem;
  }

  .newServ p {
    margin: 0rem 1.5rem 3rem 1.5rem;
    width: calc(100% - 3rem);
    line-height: 1.7rem;
  }

  .ser_button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }
}

@media (max-width: 500px) {
  .newServ h3 {
    font-size: 1.75rem;
  }
}

/******* SERVice Einzel Page**********/

.service_detail {
  min-height: 100vh;
  color: var(--clrBlack);
  background-color: var(--clrWhite);
  padding: 4rem 0rem;
}

.service_detail h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.det_serv_h4 {
  color: var(--clrGreen);
}

.service_detail h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-weight: 600;
}

.service_detail span {
  color: var(--clrGreen);
}

.detail_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.detail_img_cont {
  overflow: hidden;
  aspect-ratio: 1.25 / 1;
  position: sticky;
  top: 20vh;
}

.detail_img_cont img {
  height: calc(100% - 1rem);
  width: 100%;
  object-fit: cover;
}

.detail_descr_cont {
  color: var(--clrBlack);
}

.detail_descr_cont p {
  line-height: 1.5rem;
}

.detail_descr_cont h4,
h6 {
  color: var(--clrBlack);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.det_h4 {
  text-transform: none !important;
}

.det_step_title {
  color: var(--clrBlack);
  font-weight: 600;
}

.detail_descr_cont button {
  padding: 0.5rem 0rem;
  width: 100%;
  margin-top: 1rem;
  color: var(--clrWhite);
  background-color: var(--clrGreen);
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid var(--clrGreen);
  letter-spacing: 0.01em;
}

.det_loader {
  height: 0.5rem;
  width: 0%;
  background-color: var(--clrGreen);
}

.slider_flex_Serv {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.arrow_left {
  transform: rotate(180deg);
}

.btn_next_service {
  background-color: var(--clrWhite);
  color: var(--clrBlack);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid var(--clrBlack);

  transition: 0.1s ease-in-out;
}

.btn_next_service:hover {
  background-color: var(--clrBlack);
  color: var(--clrWhite);
  border: 1px solid var(--clrBlack);
}

.btn_next_service svg {
  height: 1rem;
  width: 1.5rem;
  fill: var(--clrBlack);
  transition: 0.1s ease-in-out;
}

.btn_next_service:hover svg {
  fill: var(--clrWhite);
}

@media (max-width: 1280px) {
  .service_detail h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .service_detail h2 {
    font-size: 1.75rem;
  }

  .detail_grid {
    gap: 1.5rem;
  }
}

@media (max-width: 780px) {
  .detail_grid {
    grid-template-columns: 1fr;
  }

  .det_loader {
    display: none;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 500px) {
  .service_detail h2 {
    font-size: 1.65rem;
  }
}
/* ----------------------------------------------------------------------------- */

/* ---------------------------------------- */
/* PREISE */
.section_prices {
  color: var(--clrBlack);
  background-color: var(--clrWhite);

  padding-top: 4rem;
  padding-bottom: 8rem;
  position: relative;
}

.pr_cont {
  height: auto;
}

.section_prices h2 {
  color: var(--clrBlack);
  opacity: 0;
  transform: translateY(50px);
}

.w-70 {
  width: 70%;
}

.priceview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 5rem;
  opacity: 1;
}

.priceview .card:nth-of-type(2) {
  background: var(--clrBlack);

  h3 {
    color: var(--clrGreen);
    font-size: 1.8rem;
    font-weight: 600;
  }

  svg {
    fill: var(--clrGreen);
  }

  button {
    background-color: var(--clrGreen);
    color: white;
    border: 1px solid var(--clrGreen);
  }

  button:hover {
    border: 1px solid var(--clrWhite);
  }
}

.priceview .card:nth-of-type(3) {
  background: var(--clrOtherGrey);
  scale: 0.95;

  button {
    border: 1px solid var(--clrWhite);
    background-color: var(--clrBlack);
    color: var(--clrWhite);
  }

  button:hover {
    background-color: var(--clrGreen);
  }
}

.priceview .card:nth-of-type(1) {
  background: var(--clrOtherGrey);
  scale: 0.95;

  button {
    border: 1px solid var(--clrWhite);
    background-color: var(--clrBlack);
    color: var(--clrWhite);
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background-color: var(--clrGreen);
  }
}

.priceview .card:nth-of-type(1):hover,
.priceview .card:nth-of-type(3):hover {
  scale: 0.97;
}

.card {
  position: relative;
  background: linear-gradient(
    to right,
    var(--clrBlack),
    var(--clrDarkGrey)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0.25rem;
  border: 1px solid rgba(253, 254, 255, 0.3);
  transition: 0.3s ease-in-out;
}

.inner_card {
  position: relative;
  padding-top: 1.2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.card:hover {
  scale: 1.0175;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--clrWhite);
}

.price_info {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--clrGrey);

  span {
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 0.5rem;
    color: var(--clrWhite);
  }

  .descr {
    margin-top: 0.25rem;
    line-height: 1.5rem;
  }
}

.feature {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  color: var(--clrGrey);
  font-size: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.feature h4 {
  font-weight: 500;
  color: var(--clrWhite);
}

.card button {
  background-color: var(--clrWhite);
  color: var(--clrBlack);
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-family: var(--primeFont);
  color: var(--clrBlack);
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 4rem;
  border: 1px solid var(--clrGreen);
}

.divide {
  height: 1px;
  width: 100%;
  background-color: var(--clrGrey);
  margin: 1rem 0;
  border-radius: 2px;
}

.beschreibung {
  width: 70%;
  color: var(--clrBlack);
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0;
  transform: translateY(50px);
}

@media (max-width: 1280px) {
  .priceview {
    gap: 1rem;
  }

  .price_info {
    span {
      font-size: 1.6rem;
      margin-right: 0.25rem;
    }
  }
  .card h3 {
    font-size: 1.6rem;
  }

  .beschreibung {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .priceview {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .priceview .card:nth-of-type(2) {
    scale: 0.95;
  }

  .priceview .card:nth-of-type(2):hover {
    scale: 0.97;
  }

  .card {
    min-width: 46%;
    max-width: 47%;
  }

  .inner_card {
    padding-top: 1.3rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  .price_info {
    span {
      font-size: 1.5rem;
      margin-right: 0.25rem;
    }
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 780px) {
  .priceview {
    display: flex;
    gap: 1rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    min-width: 46%;
    max-width: 47%;
  }

  .price_info {
    span {
      font-size: 1.4rem;
      margin-right: 0.25rem;
    }
  }
  .card h3 {
    font-size: 1.4rem;
  }

  .feature {
    font-size: 0.9rem;
  }
}

@media (max-width: 640px) {
  .priceview {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    min-width: none;
    max-width: 85%;
  }
  .price_info {
    span {
      font-size: 1.5rem;
      margin-right: 0.25rem;
    }
  }
  .price_info {
    span {
      font-size: 2rem;
    }
  }
  .card h3 {
    font-size: 2rem;
  }

  .priceview .card:nth-of-type(2) {
    h3 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .card {
    max-width: 95%;
  }

  .price_info {
    span {
      font-size: 1.55rem;
    }
  }
  .card h3 {
    font-size: 1.55rem;
  }

  .priceview .card:nth-of-type(2) {
    h3 {
      font-size: 1.55rem;
      color: var(--clrGreen);
    }

    button {
      background-color: var(--clrGreen);
    }
  }

  .card h4 {
    font-size: 1rem;
  }
}
/*                     NEW CONTACT SECTION                                                */

.newContact_section {
  position: relative;
}

.newContact_section h2 {
  color: var(--clrGreen);
}

.newcon_grid {
  display: grid;
  grid-template-columns: 3fr 1.55fr;
  gap: 0rem;
}

.con_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.con_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.newcon_grid form {
  padding: 4rem 8rem;
  width: auto;
}
.grey_contact {
  color: var(--clrGrey);
  margin-bottom: 3rem;
  line-height: 1.7rem;
}

.otherCon_infos {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  color: var(--clrWhite);
}

.oth {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.oth a {
  text-decoration: none;
  color: var(--clrWhite);
}

.oth:hover {
  cursor: pointer;
  transform: translateX(0.5rem);
}

@media (max-width: 1280px) {
  .newcon_grid {
    display: grid;
    grid-template-columns: 3.5fr 1.4fr;
    gap: 0rem;
  }

  .otherCon_infos {
    font-size: 0.9rem;
  }

  .oth svg {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 1024px) {
  .newContact_section {
    padding-bottom: 4rem;
  }

  .newcon_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    padding: 0rem;
  }

  .newcon_grid form {
    padding: 4rem;
  }

  .con_img {
    aspect-ratio: 2/ 1;
  }

  .con_img img {
    object-position: 50% 25%;
  }
}

@media (max-width: 780px) {
}

@media (max-width: 640px) {
}

@media (max-width: 500px) {
  .newcon_grid form {
    padding: 4rem 2rem;
  }

  .otherCon_infos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .oth {
    gap: 1rem;
    font-size: 1.1rem;
  }

  .newcon_grid svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/*                     NEW CONTACT SECTION                                                */

/* CONTACT SECTION */

.con_sec {
  position: relative; /* Ensure it's properly positioned */
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.bg_div {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg_green {
  width: 20%;
  position: absolute;
  background-color: var(--clrGreen);
  height: 100%;
  right: 0;
}

.con_grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 4rem;
}

.info_card {
  background-color: var(--clrWhite);
  z-index: 1;
  padding: 3rem 0rem;
  transform: translateX(150%);
}

.inner_contact_info {
  color: var(--clrBlack);
  z-index: 20;
  padding: 0rem 6rem;
}

.inner_contact_info h4 {
  font-size: var(--fontH5);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: 650;
}

.contact_data {
  margin-top: 2rem;
  width: 100%;
  display: block;
  z-index: 50;
}

.con_data_flex {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  transition: 0.3s ease-in-out;
}

.con_data_flex:hover {
  transform: translateX(1rem);
}

.con_data_flex svg {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.con_data_flex svg:hover {
  fill: var(--clrBlack);
}

.con_data_flex a {
  color: var(--clrBlack);
  font-weight: 550;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
}

.contact_head {
  margin-bottom: 3rem;
}

.contact_h2 {
  color: var(--clrGreen);
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(50px);
  font-size: var(--fontH3);
  letter-spacing: -0.04em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact_subhead {
  opacity: 0;
  transform: translateY(50px);
  width: 50%;
  color: var(--clrGrey);
  line-height: 1.5rem;
}

.contact_form_cont h2 {
  font-weight: 700;
  color: var(--clrGreen);
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.contact_descr {
  color: var(--clrGrey);
  width: 50%;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

form {
  width: 100%;
}

.form_flex {
  display: flex;
  gap: 2rem;
}
.contact_div {
  margin-bottom: 2rem;
  flex: 1;
  overflow: hidden;
}

.contact_div input {
  outline: none;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--clrDarkGrey);
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221, 0.1);
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--clrWhite);
  font-family: var(--secFont);
  transition: 0.1s ease-in-out;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--clrWhite);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}

.div_textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.my_textarea {
  font-family: var(--secFont);
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  background-color: var(--clrDarkGrey);
  border: 1px solid rgb(221, 221, 221, 0.2);
  box-sizing: border-box;
  resize: none;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--clrWhite);
}

input:focus,
textarea:focus {
  border: 1px solid var(--clrWhite);
}

input:valid,
textarea:valid {
  border: 1px solid var(--clrGreen) !important;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border: 1px solid orange;
}

#check:not(:placeholder-shown) {
  border: 1px solid rgb(221, 221, 221, 0.2);
}

.send_button {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  transition: all 0.2s ease-in-out;
}

.disabled_button {
  background-color: var(--clrBlack);
  color: var(--clrWhite);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--primeFont);
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  border: 1px solid var(--clrWhite);
  transition: all 0.2s ease-in-out;
}

.div_checkbox {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 4rem;
}

.datenschutz {
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.check {
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  background-color: var(--clrWhite);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'  viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3E%3C/svg%3E");
  display: inline-block; /* Ensure the pseudo-element behaves like an inline block */
  vertical-align: middle; /* Align the content vertically */

  font-weight: 900;
  font-size: 1rem;
  height: 1rem; /* Match the size of the parent .check element */
  width: 1rem; /* Match the size of the parent .check element */
  line-height: 1; /* Ensure proper line height */
  text-align: center; /* Center the content horizontally */
  display: none;
}
.check:hover {
  background-color: #d3d3d3;
}

.check:checked {
  background-color: var(--clrGreen);
}

.check:checked::after {
  display: block;
}

@media (max-width: 1280px) {
  .contact_subhead {
    width: 70%;
  }
  .con_grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 3rem;
  }
  .inner_contact_info {
    padding: 0rem 4rem;
  }
}

@media (max-width: 1024px) {
  .bg_green {
    display: none;
  }

  .con_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
  }
  form {
    width: 100%;
  }
  .contact_subhead {
    width: 100%;
  }

  .info_card {
    padding: 3rem 2rem;
  }
  .inner_contact_info {
    padding: 0rem 2rem;
  }
}

@media (max-width: 780px) {
  .con_sec {
    padding-bottom: 4rem;
  }

  .contact_subhead {
    width: 100%;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form_flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    margin-bottom: 1rem;
  }

  .contact_h2,
  .price_h2 {
    font-size: 2.25rem;
  }

  .info_card {
    padding: 2rem 1rem;
  }

  .inner_contact_info {
    padding: 0rem 1rem;
  }
}

/* Another Testimonial Section */

.anotherTest {
  background-color: var(--clrWhite);
  position: relative;
  padding: 4rem 0rem 8rem 0rem;
}

.w-65 {
  width: 65%;
  line-height: 1.7rem;
  color: var(--clrBlack);
}

.slider_flex {
  transform: translateX(-25vw);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150vw;
  height: 50vh;
  position: relative;
  margin-top: 3rem;
}

.slide {
  padding: 2rem 2.5rem 2rem 2.5rem;
  border: 1px solid rgba(213, 216, 222, 0.5);
  background-color: var(--clrOtherGrey);
  overflow: hidden;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  opacity: 0.9;
  position: absolute;
  width: 45vw;
  border-radius: 0.25rem;
}

.slide p {
  color: var(--clrWhite);
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-family: var(--secFont);
}

.personal_info_div .sub_low {
  color: var(--clrGrey);
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-family: var(--primeFont);
}

.slide h3 {
  color: var(--clrWhite);
  margin-bottom: 0rem;
}

.slide h3 span {
  color: var(--clrGrey);
  font-size: 1.3rem;
  font-weight: 400;
}

.slide .img_cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.lower_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower_div .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.personal_info_div p {
  margin-bottom: 0;
}

.lower_div .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.lower_div .right button {
  background-color: transparent;
  color: var(--clrWhite);
  border: 1px solid var(--clrGreen);
  padding: 0.25rem 0.5rem;
}

/* Center slide - bigger and more prominent */
.activeSlide {
  transform: translateX(0) scale(1); /* Keep the center slide at 0 offset and enlarge it */
  opacity: 1;
  z-index: 3;
  border: 1px solid transparent;
}

/* Left slide - smaller and partially visible */
.prevSlide {
  transform: translateX(-100%) scale(0.9); /* Move left and shrink */
  z-index: 2;
}

/* Right slide - smaller and partially visible */
.nextSlide {
  transform: translateX(100%) scale(0.9); /* Move right and shrink */
  z-index: 2;
}

/* Far slides - 4th and beyond - should be moved further offscreen and scaled down */
.farNextSlide {
  transform: translateX(100%) scale(0.9); /* Move far to the right and shrink further */
  opacity: 0; /* Fully hidden */
  z-index: 1;
}

.farPrevSlide {
  transform: translateX(-100%) scale(0.9); /* Move left and shrink */
  opacity: 0; /* Fully hidden */
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stars {
  display: flex;
  gap: 0.25rem;
  background-color: var(--clrBlack);
  padding: 0.25rem 0.75rem;
  border: 1px solid rgba(213, 216, 222, 0.5);
  border-radius: 2rem;
}

.stars svg {
  fill: var(--clrGreen);
}

.for_arrows {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.for_arrows svg {
  transition: 0.1s ease-in-out;
}

.for_arrows svg:hover {
  cursor: pointer;
  fill: var(--clrBlack);
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .slide {
    width: 60vw;
  }
}

@media (max-width: 780px) {
  .slider_flex {
    margin-top: 4rem;
  }

  .slide {
    width: 70vw;
  }
  .activeSlide {
    transform: translateX(0) scale(1); /* Keep the center slide at 0 offset and enlarge it */
  }
}

@media (max-width: 640px) {
  .lower_div {
    display: block;
  }

  .for_arrows {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .lower_div .left {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .lower_div .left img {
    width: 5rem;
    height: 5rem;
  }

  .lower_div .right {
    margin-top: 0rem;
    align-items: flex-start;
  }

  .personal_info_div p {
    margin-top: 0.25rem;
  }
}

@media (max-width: 500px) {
  .slider_flex {
    margin-top: 6rem;
  }

  .for_arrows {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .activeSlide {
    transform: translateX(0) scale(1); /* Keep the center slide at 0 offset and enlarge it */
  }

  .prevSlide {
    transform: translateX(-100%) scale(0.95); /* Move left and shrink */
  }

  /* Right slide - smaller and partially visible */
  .nextSlide {
    transform: translateX(100%) scale(0.95); /* Move right and shrink */
  }

  .slide {
    padding: 1.5rem;
  }

  .sub_low {
    width: 100%;
    margin-bottom: 0.25rem !important;
  }
}

/* Testimonials */

.section_testimonials {
  background-color: var(--clrWhite);
  color: var(--clrBlack);
  padding-top: 4rem;
  padding-bottom: 8rem;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.normal {
  font-style: normal;
  margin-bottom: 2rem;
}

.succ_cont {
  margin-bottom: 3rem;
}

.h_success {
  font-weight: 600;
  font-size: var(--fontH3);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  opacity: 0;
  transform: translateY(50px);
}
.erfolg_descr {
  width: 65%;
  line-height: 1.5rem;
  opacity: 0;
  transform: translateY(50px);
}
.testi_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  position: relative;
}

.success {
  background-color: var(--clrDarkGrey);
  position: relative;
}

.success_img_cont {
  aspect-ratio: 1 / 1.25;
  width: 100%;
  overflow: hidden;
}

.success_img_cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1.25;
}

.success_info_div {
  background-color: rgba(48, 44, 44, 0.7);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 200;
  color: var(--clrWhite);
  height: 20%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 50;
  transition: height 0.5s ease-in-out;
  transform-origin: top;
  overflow: hidden;
}

.success_info_div:hover {
  height: 100%;
  position: absolute;
  bottom: 0; /* Start from the bottom */
  left: 0;
  background-color: rgba(48, 44, 44, 0.8);
  backdrop-filter: blur(10px);
}

.success_additional_info {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  right: 2rem;
  line-height: 1.8rem;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.success_info_div:hover .success_additional_info {
  opacity: 1;
  transition: opacity 0.6s ease-in-out 0.3s;
}

.success_info_div:hover .success_btn_div svg {
  opacity: 0;
}

.story_scrollable_hidden {
  aspect-ratio: 1 / 0.95;
  overflow-y: hidden;
}

.story_scrollable_open {
  overflow-y: auto;
  aspect-ratio: 1 / 0.95;
}

/* Scrollbar width */
.story_scrollable_open::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
.story_scrollable_open::-webkit-scrollbar-track {
  background: var(--clrGrey);
}

/* Handle */
.story_scrollable_open::-webkit-scrollbar-thumb {
  background: var(--clrGreen);
  border-radius: 0.5rem;
}

/* Handle on hover */
.story_scrollable_open::-webkit-scrollbar-thumb:hover {
  background: var(--clrGreen);
}

.story_head {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.readmore {
  color: var(--clrGrey);
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--clrGrey);
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  transition: all 0.1s ease-in-out;
  z-index: 500;
}

.readmore:hover {
  color: var(--clrGreen);
  border: 1px solid var(--clrGreen);
}

.success_inner {
  position: absolute;
  bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success_btn_div svg {
  fill: var(--clrGreen);
  transition: 0.2s ease-in-out;
}

.success_name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.alter {
  color: var(--clrGrey);
  font-weight: 500;
  font-size: 1rem;
}

.success_job {
  color: var(--clrGrey);
}

@media (max-width: 1280px) {
  .erfolg_descr {
    width: 80%;
  }
  .testi_cont {
    gap: 1rem;
  }
  .success_inner {
    bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .erfolg_descr {
    width: 100%;
  }

  .testi_cont {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .success {
    min-width: 46%;
    max-width: 47%;
  }
  .success_inner {
    bottom: 1.5rem;
  }

  .readmore {
    margin-top: 1rem;
  }
}

@media (max-width: 780px) {
  .success_inner {
    bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100% - 3rem);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .story_scrollable_open::-webkit-scrollbar {
    background: var(--clrGreen);
  }

  .success_additional_info {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    line-height: 1.8rem;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .readmore {
    margin-top: 1.25rem;
  }
}

@media (max-width: 640px) {
  .testi_cont {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }
  .success {
    min-width: none;
    max-width: 90%;
  }

  .success_inner {
    position: absolute;
    bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .success_additional_info {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
  }

  .readmore {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .success_img_cont {
    aspect-ratio: 1 / 1.55;
    width: 1;
  }

  .readmore {
    margin-top: 1.25rem;
  }
  .success_inner {
    bottom: 1.5rem;
  }
  .story_scrollable_hidden,
  .story_scrollable_open {
    aspect-ratio: 1 / 1.1;
  }

  .h_success {
    font-size: 2.25rem;
  }

  .success_btn_div svg {
    height: 1.75rem;
    width: 1.75rem;
  }
}

/* NEW TESTIMONIALS -------------------------*/

.newTest_section {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: var(--clrWhite);
  color: var(--clrBlack);
  overflow: hidden;
}

.ref_header {
  font-weight: 600;
  font-size: var(--fontH3);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.ref_sub_head {
  width: 70%;
  line-height: 1.5rem;
}
.newtest_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 0.25fr 6fr 0.25fr;
  gap: 2rem;
  align-items: center;
  color: var(--clrWhite);
}

.inner_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--clrOtherGrey);
}

.inner_grid:hover .read_div button {
  border: 1px solid var(--clrGreen);
  color: var(--clrGreen);
}

.img_new_test_cont {
  aspect-ratio: 1 / 1.65;
  overflow: hidden;
}

.img_new_test_cont img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.newtest_right {
  line-height: 1.5rem;
  display: grid;
  grid-template-rows: auto auto; /* Two rows: one for content and one for info */
  gap: 0rem;
}

.newtest_content {
  grid-row: 1 / 2; /* Place in the first row */
  padding: 2rem 4rem;
}

.newtest_info {
  grid-row: 2 / 3; /* Place in the second row */
  align-self: end; /* Aligns the content at the start of the row */
  display: flex;
  justify-content: space-between;
  background-color: var(--clrDarkGrey);
  padding: 2rem 4rem;
}

.strongHighlight {
  font-style: normal;
}

.long_story {
  margin-top: 2rem;
}

.arrow_div {
  fill: var(--clrGreen);
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_div:hover {
  fill: var(--clrDarkGrey);
}

.arrow_div svg {
  height: 2rem;
  width: 2rem;
}

.story_begrenzer {
  max-height: calc(2 * 7em);
  position: relative;
  line-height: 2;
}

/* Scrollbar width */
.story_begrenzer::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.story_begrenzer::-webkit-scrollbar-track {
  background: var(--clrGrey);
}

/* Handle */
.story_begrenzer::-webkit-scrollbar-thumb {
  background: var(--clrGreen);
  border-radius: 0.5rem;
}

/* Handle on hover */
.story_begrenzer::-webkit-scrollbar-thumb:hover {
  background: var(--clrGreen);
}

.story_begrenzer p {
  font-style: italic;
}

.newtest_right h5 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.newtest_info span,
.new_job {
  color: var(--clrGrey);
  font-size: 1rem;
  font-weight: 500;
}

.newtest_info h4 {
  font-size: 1.75rem;
  color: var(--clrGreen);
}
.read_div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.read_div button {
  padding: 0.25rem 1rem;
  background-color: transparent;
  color: var(--clrWhite);
  border: 1px solid var(--clrWhite);
  transition: 0.1s ease-in-out;
}

.read_div button:hover {
  color: var(--clrGreen);
  border: 1px solid var(--clrGreen);
}

/* _________________________ */

/*  FOOTER   */

footer {
  background-color: var(--clrBlack);
  color: var(--clrGrey);
  padding-top: 4rem;
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 4rem;
}

.foot_column:not(:first-of-type) {
  flex: 1;
}

.foot_column h4 {
  color: var(--clrWhite);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.foot_logo_flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-style: italic;
  text-transform: uppercase;
  color: var(--clrWhite);
  margin-bottom: 0.25rem;
}

.log_cont {
  height: 2rem;
  width: 6rem;
  fill: var(--clrWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_company_info {
  margin-bottom: 1rem;
}

.company_descr {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
  font-size: 0.9rem;
}

.foot_socials {
  display: flex;
  gap: 1.5rem;
}

.foot_socials svg:hover {
  fill: var(--clrWhite);
}

.cont_footer_links a {
  display: block;
  text-decoration: none;
  color: var(--clrGrey);
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.cont_footer_links a:hover {
  color: var(--clrWhite);
}

.foot_divider {
  height: 1px;
  width: 100%;
  background-color: var(--clrGrey);
}

.footer_bottom {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.agbs_flex {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
}
.policies {
  cursor: pointer;
  text-decoration: none;
  color: var(--clrGrey);
}

.policies:hover {
  color: var(--clrWhite);
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .company_descr {
    width: 100%;
  }

  .footer_container {
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: auto 1fr;
    gap: 4rem;
  }

  .f_gr_item1 {
    grid-column: 1 / -1;
  }
}

@media (max-width: 780px) {
  .footer_container {
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: auto 1fr;
    gap: 6rem !important;
  }

  .f_gr_item1 {
    grid-column: 1 / -1;
  }

  .log_cont {
    width: 8rem;
  }

  .agbs_flex {
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .footer_container {
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 6rem 2rem;
  }

  .f_gr_item2 {
    grid-column: span 1; /* Takes up one column */
    /* Adjust columns for the second row */
  }

  .f_gr_item3 {
    grid-column: span 1; /* Takes up the second column */
  }

  .f_gr_item4 {
    grid-column: span 1; /* Takes up the third column */
  }

  .agbs_flex {
    flex-direction: column;
    gap: 0.75rem;
  }

  .log_cont {
    width: 6rem;
    fill: var(--clrWhite);
  }
}

@media (max-width: 500px) {
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem !important;
  }

  .f_gr_item4 {
    grid-column: span 2; /* Takes up the third column */
  }

  .log_cont {
    width: 6rem;
  }
}

/*________________________________________________- */

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1370px) {
  .container {
    max-width: 1250px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 485px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* xs */
@media (max-width: 485px) {
  .container {
    max-width: 95%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
